* {
  color: #333;
  text-decoration: none !important;
}
button {
  outline: none !important;
}

a {
  color: #000;
}
.Nav {
  background: #4c4b4b;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  position: fixed;

  .NavMenu {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
    a {
      font-size: 16px;
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 1rem;
      height: 100%;
      cursor: pointer;
      border-bottom: 0px solid #15cdfc;
      transition: all 0.2s ease-in-out;

      &:hover:not(.active) {
        color: #15cdfc;
        border-bottom: 5px solid #15cdfc;
        font-size: 18px;
      }
      &.active {
        color: #15cdfc;
      }
    }
  }
  .NavBtn {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .NavBtnLink {
    a {
      border-radius: 4px;
      border: 2px solid #15cdfc;
      padding: 10px 22px;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      color: #fff;
      &:hover {
        transition: all 0.2s ease-in-out;
        background: #15cdfc;
        color: black;
      }
    }
  }
}
.home-banner {
  height: 600px;
  h1 {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
    top: -50vh;
    left: 22vw;
  }
  img {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  position: relative;
  top: -70vh;
  padding: 15px;
  margin-left: 22%;
  width: 60%;
  height: 70px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.body {
  h1 {
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }
  .company-box {
    padding: 20px;
    text-align: center;

    img {
      width: 160px;
      height: 160px;
      object-fit: contain;
      padding: 10px;
      // border: 2px solid rgba(0, 0, 0, 0.125);
      // box-shadow: 0px 2px 10px rgba(7, 7, 7, 0.5);
      // background-color: white;
      // border-radius: 7px;
    }
  }
}
.footer {
  background: whitesmoke;
  text-align: left;
  padding: 30px 30px 0px 30px;
  text-align: justify;

  h6 {
    font-size: medium;
    color: #333;
  }
  a {
    font-size: small;
    color: #767676;
    &:hover {
      color: #f7941d;
    }
  }
  p {
    font-size: small;
  }
}
